*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    scroll-behavior: smooth; 
}

#hero-area{
    margin-top: 10%;    
    width: 100%;    
    display: flex;
    padding-left: 10%;
    padding-right: 10%;
}
.hero-left{
    height: auto;
    width: 50%; 
    border-right: 0.2em solid #4bc7e3;   
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-right{
    height: auto;
    width: 50%;
    padding: 5%;
    display: flex;
    justify-content: center;
    align-items: center;    
}
.work-description{
    display: flex;
    justify-content: start;    
    align-items: start;   
    flex-direction: column; 
}
.work-description p{
    font-size: 1.02rem;
    color: aliceblue;
    font-weight: 100;
}
#hero-area2, #hero-area3{
    width: 100%;    
    display: flex;
    padding-left: 10%;
    padding-right: 10%;
}
